*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Luxurious Roman', cursive;
    color: black;
    background-color: #740001;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

alerts {
    font-family: 'Luxurious Script', cursive;
}



li {
    list-style-type: none;
}
.quiz-area {
    width: 75%;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 75px;
    background-color:#d3a625 ;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    width: 60%;
    margin: 0 auto; 
}

.btn {
    color: black;
    background-color: #c0c0c0;
    border-radius: 5%;
    padding: 5px 10px;
    outline: none;
    font-size: 20px;
}

.submit-btn {

    font-size: 1.5rem;
    font-weight: bold;
    padding:10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    border-color: black;
}

.hide {
    display: none;
}

.start-btn {
    
    font-size: 2rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: #d3a625;
    
}

.start-btn:hover {
    border-color: black;
}


.question h2 {
    font-size: 35px;
}

.answer {
    font-size: 25px;
}

.scores {
    position: relative;
    bottom: 0;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px; 
   text-align: center;
   
}
